extends layout

block content
  h1= title
  p Welcome to The todoApp
  
  
  
  
  table
    thead
      tr
        td
    tbody
      tr
       td {{task}}
       td {{dueby}}
       td {{completed}}
