extends layout

block content
  h1= todoApp
  p Welcome to The todoApp
  
    form(action='/album', method='post', enctype='multipart/form-data' style='font-size: 1.9vw;')
      input(type="text" placeholder="task") 
      input(type="date")
      button(style="background-color: brown; color: orange;" ) Submit
      
    
    <ui-view></ui-view>
    table
      thead
        tr(ng-repeat="header, value in list[0] track by $index")
          td {{header}}
      tbody
        tr(ng-repeat="item in list track by $index")
         td {{task}}
         td {{dueby}}
         td {{completed}}
       
       
       
